
accs3D.nii
coef_staking3D.nii
coef_staking_std3D.nii
confusion_matrix_fmri_staking.png
proba3D.nii
significantROIs_fmri.nii
sMRI_results/confusion_matrix_deconfounded.png
sMRI_results/MRIcoef_deconfounded.nii
sMRI_results/MRIcoef_std_deconfounded.nii
sMRI_results/requirements.txt
sMRI_results/significantROI_deconfounded.nii
fMRI_results/output_level_0.npy
fMRI_results/accs_level0_3D.nii
fMRI_results/confusion_matrix_fmri.png
fMRI_results/corrs.npy
fMRI_results/final_coefficients.txt
fMRI_results/final_coefficients3D.nii
fMRI_results/final_coefficients_std.txt
fMRI_results/final_coefficients_std3D.nii
fMRI_results/FS_ss.npy
fMRI_results/signrois.PNG
