
accs3D.nii
coef_staking3D.nii
coef_staking_std3D.nii
confusion_matrix_fmri_staking.png
proba3D.nii
significantROIs_fmri.nii
sMRI_results/confusion_matrix_deconfounded.png
sMRI_results/MRIcoef_deconfounded.nii
sMRI_results/MRIcoef_std_deconfounded.nii
sMRI_results/requirements.txt
sMRI_results/significantROI_deconfounded.nii
fMRI_results/output_level_0.npy
fMRI_results/accs_level0_3D.nii
fMRI_results/confusion_matrix_fmri.png
fMRI_results/corrs.npy
fMRI_results/final_coefficients.txt
fMRI_results/final_coefficients3D.nii
fMRI_results/final_coefficients_std.txt
fMRI_results/final_coefficients_std3D.nii
fMRI_results/FS_ss.npy
fMRI_results/signrois.PNG
sMRI_results/confusion_matrix_mri.png
sMRI_results/final_coefficients3D_mri.nii
sMRI_results/final_coefficients_mri.txt
sMRI_results/final_coefficients_mri_std.txt
sMRI_results/final_coefficients_std3D_mri.nii
sMRI_results/significantROIs_mri.nii
fMRI_results/corrs.npy~RF70f0e7.TMP
fMRI_results/FS_ss.npy~RF70f089.TMP
fMRI_results/output_level_0.npy~RF70f116.TMP
fMRI_results/signrois_final.PNG
temp/coef_per_roi_mri.xlsx
temp/confusion_matrix_mri.png
temp/final_coefficients3D_mri.nii
temp/final_coefficients_std3D_mri.nii
temp/significantRois.PNG
temp/significantROIs_mri.nii
temp_fmri/accs_level0_3D.nii
temp_fmri/accs_per_roi_level0.xlsx
temp_fmri/accs_std_level0_3D.nii
temp_fmri/coef_per_roi_fmri.xlsx
temp_fmri/confusion_matrix_fmri.png
temp_fmri/final_coefficients.txt
temp_fmri/final_coefficients3D.nii
temp_fmri/final_coefficients_std.txt
temp_fmri/final_coefficients_std3D.nii
temp_fmri/fmri_sign_rois.PNG
fMRI_results/accs_per_roi_level0.xlsx
fMRI_results/accs_std_level0_3D.nii
fMRI_results/coef_per_roi_fmri.xlsx
fMRI_results/final_acc_fmri.txt
fMRI_results/fmri_sign_rois.PNG
sMRI_results/coef_per_roi_mri.xlsx
sMRI_results/final_acc_mri.txt
sMRI_results/significantRois.PNG
fMRI_results/fmri_ant.png
*.png
*.nii
*.pptx
*.pdf
